* {
  box-sizing: border-box;
}

body {
  background-color: #f6fbfe;
  width: 100%;
}

.boop {
  background-image: url("./images/dog5-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  color: grey;
}

.nav-link {
  padding: 10px;
  color: darkgray;
}

.modal-header .btn-close {
  margin-bottom: -5.5rem;
  z-index: 1;
}

.modal-header {
  padding: 0 1rem 0rem 0;
}

.agency-color {
  color: #d20e72;
}

.dog-color {
  color: #36f214;
}

.searchList {
  width: 60% !important;
}

.cat-color {
  color: #10dcfe;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.boop-title {
  color: white;
  margin: auto;
  padding-bottom: 1rem;
}

.type {
  width: 20rem;
}

.list {
 padding: 0 10%;
}

.card-to-heart {
  position: relative;
}

.heart-container {
  cursor: pointer;
  position: absolute;
  right: 0;
  display: block;
  padding: 10px 14px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.2);
}


.heart-container:hover {
  background-color: rgba(255, 255, 255, 1);
}

.heart-container:hover .heart2 {
  display: block;
  fill: red;
  margin: 4px 0;
}

.heart-container:hover .heart {
  display: none;
}


.heart2 {
  display: none;
}

.heart2clicked {
  display: block;
  fill: red;
  margin: 4px 0;
}

.pet-image {
  border-radius: 31px;
  object-fit: cover;
  height: 300px;

}

.card {
  border-radius: 31px;
}

.title {
  font-weight: 500;
  opacity: 1 !important;
  color: black;
}
.titles {
  position: absolute;
  width: 100%;
  background-color: rgba(225, 225, 225, 0.4);
  border-radius: 0 0 30px 30px;
  bottom: 0;
}


.pet-profile-image {
  object-fit: cover;
  object-position: center;
  height: 30vw;
  width: 100%;
  border-radius: 30px;
}

.pet-btn {
  border-radius: 5px;
  background-color: #36f214;
}

.pet-name {
  color: #36f214;
}

.buttons {
  gap: 1rem;
}

.saddog {
  transform: scale(1);
}

.errorMsg {
  width: fit-content;
  color: red;
  font-weight: 500;
  border-radius: 5px;
  padding: 6px;
}

.dangerlogo {
  margin-right: 0.2rem;
  color: red;
}
.logout {
  background-color: #f6fbfe;
  border: none;
}

.logout:focus {
  border: none;
  background-color: #f6fbfe;
  outline: 0 !important;
}

.logout:hover {
  background-color: #f6fbfe;
  border: none;
}

.form-control {
  width: 100% !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mypets {
  padding: 5% 10%;
}