

* {
  box-sizing: border-box;
}

body{
  background-color: #F6FBFE;
  overflow: hidden;
}


.boop{
  background-image: url("./images/dog5-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
}

.nav-link {
  padding: 10px;
}

.modal-header .btn-close{
  margin-bottom: -5.5rem;
  z-index: 1;
}

.modal-header {
  padding: 0 1rem 0rem 0;
}


.agency-color{
  color: #D20E72;
}

.dog-color {
  color: #36F214;
}

.cat-color {
  color: #10DCFE;
}

.footer {
  display:flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content:center;
  align-items:center;
}

.boop-title {
  color: white;
  margin: auto;
  padding-bottom: 1rem;
}

.type {
  width: 20rem;
}
